@font-face {
    font-family: Avenir;
    src: url(../font/AvenirRegular.ttf);
  }

    .font-avenir {
    font-family: Avenir;
}

    .register-img-box{
    background-color: #e7f7f5;
    padding: 70px; height: 100vh;
}

    .register-img{  width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



    .register-img img{
    width: 100%;
}
.register-text-box {
    padding:30px 50px;
    text-align: center;
}
    .logo-box {
        width: 250px;
        text-align: center;
        margin:0px auto;
    } 
    .title-register{
        text-align: center;
        color: #000;
        font-size: 24px;
        font-weight: 700;
        margin-top: 60px;
    }
    .register-login-btn {
        text-align: center;
        margin-top: 30px;
    }
    .register-login-btn a {
      padding:8px 24px;
      color: #ccc;
      font-size: 14px;
      margin:0px 10px;
    }

    .register-login-btn a:hover{
        background-color: #e7f7f5;
        color: #13B59C;
        border-radius: 6px;

    }
    .register-login-btn a.active{
        background-color: #e7f7f5;
        color: #13B59C;
        border-radius: 6px;

    }
    .register-google-btn {
        padding: 7px 30px;
        display: inline-block;
        margin-top: 30px;
        border: 1px solid #ccc;
        color: #1C1C1C !important;
        text-align: center;
        border-radius: 6px;
    }
    .signup-email{
        margin-top: 50px;

    }

    .signup-email p {
        width: 80%;
        font-size: 14px;
        margin: 0px auto;
        overflow: hidden;
        text-align: center;
        font-weight:300;
        color: #999;
        /* opacity: 0.5; */
      }
      .signup-email p:before, .signup-email p:after {
        content: "";
        display: inline-block;
        width: 50%;
        margin: 0 1em 0 -55%;
        vertical-align: middle;
        border-bottom: 1px solid #DBDBDB;
      }
      .signup-email p:after {
        margin: 0 -55% 0 1em;
      }
      .signup-email span {
        display: inline-block;
        vertical-align: middle;
      }
      .form-box{text-align: left;
        margin-top: 30px;
    }

    .form-box label {      
        /* color: #1C1C1C; */
        font-size: 14px;
        font-weight: 400;
      
    }

    .form-box input {
        border: 1px solid #ccc;
        color: #1C1C1C;
        font-size: 14px;
        font-weight: 400;
        padding: 20px 15px;
    }
  
    input:focus +  label {
        color: green;
    }
    
    .form-box input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #1C1C1C;
        opacity: 0.4; /* Firefox */
      }

    .form-control:focus {
        border-color: #13B59C;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .create-account-btn{
          margin-top: 30px;
          padding: 12px;
          font-size: 18px;
          background-color: #13B59C;
          width: 100%;
          display: block;
          color:#fff;
      }

      .disabled-btn{
        background-color: #ccc;
      }
      .create-account-btn:hover{    
        color:#fff;
    }
    .forgot-pass {
        color: #13B59C;
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    .forgot-pass:hover {
        color: #13B59C;       
    }