    * {
        margin: 0;
        padding: 0;
        list-style-type: none;
        box-sizing: border-box;
    }
    
     ::-moz-selection {
        background: #428eff;
        color: #fff;
    }
    
     ::selection {
        background: #428eff;
        color: #fff;
    }
    
    body,
    html {
        /* font-family: 'Open Sans', sans-serif; */
        /* font-family: 'Roboto', sans-serif; */
        font-family: Avenir;       
        font-size: 14px;
        margin: 0px;
        padding: 0px;
        color: #333;
        line-height: 24px;
        overflow-x: hidden;
        font-weight: 400;
    }
    
    p {
        color: #1C1C1C;
        font-weight: 500;
        line-height: 24px;
        margin: 0px;
        font-size: 14px;
    }
    ul{margin-bottom: 0px;}
    
    .clearfix::after {
        clear: both;
    }
    
    a,
    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
        transition: all 0.5s ease 0s;
    }
    
    .inline-blk {
        display: inline-block;
    }
    
    .no-margin {
        margin: auto;
    }
    
    .margin-auto {
        margin: auto;
        float: none;
    }
    
    .mart10 {
        margin-top: 10px;
    }
    
    .mart15 {
        margin-top: 15px;
    }
    
    .mart20 {
        margin-top: 20px;
    }
    
    .mart40 {
        margin-top: 40px;
    }
    
    .mart70 {
        margin-top: 40px;
    }
    
    .no-pad {
        padding: 0;
    }
    
    .pad30 {
        padding: 30px 0;
    }
    
    .pad60 {
        padding: 60px 0px;
    }
    
    .text-withe {
        color: #fff;
    }
    
    .text-org {
        color: #ff6401;
    }
    
    h1,
    h2,
    h3 {
        color: #333;
        font-weight: 400;
        margin-top: 0px;
        /* font-family: 'Raleway', sans-serif; */
    }
    
    h4,
    h5,
    h6 {
        font-weight: 400;
        margin-top: 0px;
    }
    
    .right {
        margin-left: 30px
    }
    
    
